<div id="header" >
  <div class="container">
    <div class="logo">
      <a href="/" title="Adobe Typekit Platform Demo App">Adobe Typekit Platform Demo App</a>
    </div>
    <div class="account" id="notSignedIn" ng-hide="userSignedIn">
      <div class="account-button" onclick="adobeIMS.signIn()">SIGN IN</div>
      <div class="account-button" onclick="adobeIMS.signUp()">SIGN UP</div>
    </div>
    <div class="account" id="signedIn" ng-show="userSignedIn">
      <div class="welcome">Welcome,  <span id="userName" ng-bind="userName"></span></div>
      <div class="account-button" onclick="adobeIMS.signOut()">SIGN OUT</div>
    </div>
  </div>
</div>
